<link rel="stylesheet" type="text/css" href="/css/index.css" />

<%- include('./partials/header.ejs')%>

<!-- <p>This page displays the details of the application</p> -->
<main>
  <div class="text">
    <h2>ABOUT US</h2><br><br>
      <p>Movie awards celebrate excellence in filmmaking, promoting the industry and influencing audience choices. Events like the Oscars and Golden Globes provide a prestigious platform for professionals to showcase their work. These awards enhance a film's economic success and cultural significance by boosting box office performance and shaping discourse. They highlight artistic innovation, technical mastery, and storytelling prowess, inspiring future filmmakers. Winning awards can lead to increased opportunities and career advancement within the industry. Overall, movie awards play a crucial role in celebrating cinema's artistry, fostering creativity, and promoting cultural exchange.</p>
  </div>
</div>
</main>

<%- include('./partials/footer.ejs')%>