<link rel="stylesheet" type="text/css" href="/css/index.css" />

<%- include('./partials/header.ejs')%>

    <main>
        <section class="contact-info">
            <h2>Contact Us</h2>
        
            <address>
                <p><strong>Address:</strong> 9505 university terrace, charlotte,north carolina,28262</p>
                <p><strong>Email:</strong> tlagadap@charlotte.edu</p>
                <p><strong>Phone:</strong> +1 (987) 654-3210</p>
            </address>
        </section>
    </main>




<%- include('./partials/footer.ejs')%>