<%- include('./partials/header.ejs')%>
<link rel="stylesheet" type="text/css" href="/css/index.css" />

<main>
    <h3><%=error.status%> Error: <%=error.message%></h3> 
</main>
<%- include('./partials/footer.ejs')%>