
<%- include('./partials/header.ejs')%>
<link rel="stylesheet" type="text/css" href="/css/index.css" />
    <main>
      <div class="content">
        <div class="text">
          <h1 class="index"> Welcome to Movie Awards.</h1><br><br>      
              <b>Movie awards are given to recognize and celebrate excellence in filmmaking across various categories. They serve several purposes, including honoring exceptional talent, promoting the film industry, and influencing audience choices. Awards like the Oscars, Golden Globes, and BAFTAs are prestigious and highly anticipated events in the entertainment world. They provide a platform for filmmakers, actors, directors, and other industry professionals to showcase their work and gain recognition.
        
                <br><br>These awards also contribute to the economic success of films by boosting their box office performance and increasing their market value. Additionally, they help shape cultural discourse by highlighting important themes and issues portrayed in films. Award ceremonies generate excitement and media attention, drawing audiences globally and raising awareness about different cinematic achievements.
                    
                <br><br>Through awards, the industry acknowledges artistic innovation, technical mastery, and storytelling prowess, inspiring future generations of filmmakers. They serve as benchmarks for quality and serve to inspire excellence in the craft. Furthermore, winning awards can lead to increased opportunities and career advancement for individuals in the film industry.
            
                <br><br>Overall, movie awards play a crucial role in celebrating the art of cinema, promoting cultural exchange, and fostering creativity and innovation within the industry. They are a testament to the power of storytelling and the impact of film on society.</b>
            </div>
      </div>
    </main>

<%- include('./partials/footer.ejs')%>
    

